<!DOCTYPE html>
<html lang="en">
<% include partials/head %>

<body id="page-top">

	<!-- Navigation -->
	<% include partials/nav %>


	<section class="bg-primary" id="timeline">
		<div class="col-md-12">
			<div class="main-timeline">
				<div class="timeline row">
					<div class="timeline-icon"></div>
					<div class="timeline-content">
						<span class="date">1996 - 2014</span>
						<h4 class="title">Bujumbura</h4>
						<div class="row">
							<p class="description">
								 I was born and raised in Bujumbura, the economic capital of Burundi, where I grew up in a large and tight-knit family. Burundi is a small east african nation located in the great lakes region of Africa.
							</p>
						</div>
					</div>
					<img class="icon-left" type="img/svg" src="img/icons/buja.svg" />
				</div>

				<div class="timeline row">
					<div class="timeline-icon"></div>
					<div class="timeline-content right">
						<span class="date">2015-2018</span>
						<h4 class="title">Chicago</h4>
						<p class="description">
							I ended up going to college at Illinois Institute of Technology (IIT) in Chicago, IL pursuing a degree in Information Technology and Management. It was there that I was first exposed to the fundamentals of the web (HTML5, CSS, JavaScript) and Human-Computer Interaction in courses offered by <span> <a href="https://stolley.co/">Professor Karl Stolley</a> </span>. From there on, I decided to specialize in Web Design and Application Development and eventually graduated from IIT in December 2018. 
						</p>
					</div>
					<img class="icon-right" type="img/svg" src="img/icons/chicago.svg" />
				</div>

				<div class="timeline row">
					<div class="timeline-icon"></div>
					<div class="timeline-content">
						<span class="date">2019-Present</span>
						<h4 class="title">Austin</h4>
						<p class="description">
							In 2019, I began my career as a Product Designer in Dell Digital Design (DDD). I work closely with the Design Operations and Design Systems teams creating innovative solutions to support our designers. 
						</p>
					</div>
					<img class="icon-left" type="img/svg" src="img/icons/austin.svg" />
				</div>

			</div>
		</div>
	</section>

	<!-- <% include partials/footer %> -->
	<% include partials/scripts %>


</body>

</html>