<!DOCTYPE html>
<html lang="en">
<% include partials/head %>
<body id="page-top">

  <!-- Navigation -->
  <% include partials/nav %>
  <section class="bg-primary" id="about">
    <div class="container bio">
      <div class="row">
        <div class="col-lg-7 text-left">
          <h2 class="section-heading text-white">Meet Aury!</h2>
          <hr class="light my-3 uline-header">
          <% include texts/bio %>
        </div>
        <div class="col-lg-5 text-center">
          <img src="img/about/about.jpg" class="img-fluid" alt="Responsive image" id="about-img">
        </div>
      </div>
    </div>
  </section>

  <section id="timeline">
    <div class="col-md-12">
      <div class="main-timeline">
        <div class="timeline">
          <div class="timeline-icon"></div>
          <div class="timeline-content">
            <span class="date">March 10, 2016</span>
            <h4 class="title">Web Design</h4>
            <p class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae eleifend ex. Praesent magna justo, bibendum id ante ut, vulputate tincidunt ipsum. Curabitur at rhoncus sem, eu feugiat sapien. Duis in libero cursus, dapibus sem ac, ornare mauris.
              Cras nunc lectus, porta quis metus vestibulum, pellentesque gravida erat.
            </p>
          </div>
        </div>

        <div class="timeline">
          <div class="timeline-icon"></div>
          <div class="timeline-content right">
            <span class="date">March 12, 2016</span>
            <h4 class="title">Web Development</h4>
            <p class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae eleifend ex. Praesent magna justo, bibendum id ante ut, vulputate tincidunt ipsum. Curabitur at rhoncus sem, eu feugiat sapien. Duis in libero cursus, dapibus sem ac, ornare mauris.
              Cras nunc lectus, porta quis metus vestibulum, pellentesque gravida erat.
            </p>
          </div>
        </div>

        <div class="timeline">
          <div class="timeline-icon"></div>
          <div class="timeline-content">
            <span class="date">March 14, 2016</span>
            <h4 class="title">Brand Building</h4>
            <p class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae eleifend ex. Praesent magna justo, bibendum id ante ut, vulputate tincidunt ipsum. Curabitur at rhoncus sem, eu feugiat sapien. Duis in libero cursus, dapibus sem ac, ornare mauris.
              Cras nunc lectus, porta quis metus vestibulum, pellentesque gravida erat.
            </p>
          </div>
        </div>

        <div class="timeline">
          <div class="timeline-icon"></div>
          <div class="timeline-content right">
            <span class="date">March 16, 2016</span>
            <h4 class="title">Responsive Design</h4>
            <p class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae eleifend ex. Praesent magna justo, bibendum id ante ut, vulputate tincidunt ipsum. Curabitur at rhoncus sem, eu feugiat sapien. Duis in libero cursus, dapibus sem ac, ornare mauris.
              Cras nunc lectus, porta quis metus vestibulum, pellentesque gravida erat.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <% include partials/footer %>
  <% include partials/scripts %>


</body>

</html>
