<!DOCTYPE html>
<html lang="en">
<% include partials/head %>

<body id="page-top">

	<!-- Navigation -->
	<% include partials/nav %>

	<section class="bg-primary p-0" id="conceptcar">
		<div class="container">
			<div class="row" id="conceptcar-row">
				<div class="col col-lg-2">
					<h1 id="conceptcar-heading">Concept Car</h1>
				</div>




				<div class="col col-lg-8" id="conceptcar-content">

					<p id="intro-paragraph">As soon as I joined Dell Digital Design in February 2019, I had the
						opportunity to
						work on possibly the most challenging yet exciting opportunity of my early career as a Product
						Designer.
						Together with two visual designer and an information architect, I worked on reinventing the
						future of
						Dell.com and Dell’s B2B portal.
					</p>

					<div>
						<h1 class="portfolio-h1">The Goal</h1>
						<ul>
							<li>
								Modernize the current digital experience of Dell.com consumers and Premier (B2B)
								customers.
							</li>
							<li>
								Offer a simple, customized and seamless experience for our customers both on mobile
								devices and
								laptops.
							</li>
						</ul>
					</div>


					<div>
						<h1 class="portfolio-h1">The Approach</h1>
						<p>We approached this endeavor in 2 parts:</p>
						<ul>
							<li>
								Consumer (Dell.com)
							</li>
							<li>
								B2B (Dell Premier)
							</li>
						</ul>
						<div>
							<h2>Consumer</h2>
							<iframe width="100%" height="400" src="https://www.youtube.com/embed/1kXZnQiq5J0" frameborder="0"
								allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
								allowfullscreen></iframe>
							<p>
								Going into the project, the research had already been done and we had decided to build
								story around a
								24-year old, adventurous millenial we named Clare. We understood that she spent a
								significant amount on
								social media and was gearing up to travel the world for an extended period of time.</p>
							<p>With that in mind, we spent a week heads-down storyboarding and creating the unique,
								simple and
								personalized experience we wanted Clare to have:
								<ol>
									<li>In our user story, we envisioned leveraging targeted marketing to
										attract Clare. </li>
									<li>We wanted to keep that consistent and customized experience from the
										Instagram ad to the landing page she got to. </li>
									<li>Using Artificial Intelligence (AI) and machine
										learning (ML), our customer is able to interact with a more conversational,
										intuitive Ava.</li>
									<li>On the Product Details page, we simplified the content by focusing on specs and
										highlighting some of
										Dell’s newest innovations.</li>
									<li>In keeping with the theme of personalization, from her interaction with our
										AI-enabled chatbot, we
										knew
										that Clare was looking to run Adobe Creative Cloud and were able to give her the
										appropriate hardware
										recommendations in the configuration stage of the purchase experience. </li>
									<li>As she is ready to check out, we are then able to present her with accessories
										to complement her
										laptop purchase</li>
									<li>In this optimized mobile cart, we already have Clare's previous order details
										and payment choices
										saved and applied. So, purchasing is a snap</li>
								</ol>
							</p>
						</div>

						<div>
							<h2>B2B</h2>
							<iframe width="100%" height="400" src="https://www.youtube.com/embed/J0OSIHGEKhI" frameborder="0"
								allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
								allowfullscreen></iframe>
							<p>Even though we understood that the needs of our b2b customers were different from our
								consumers', we
								wanted to keep the seamlessness and personalized experience for them.</p>
							<p>
								We created this second story around Hans, a procurement director of a growing company
								gearing up to onboard 30 new employees:
								<ol>
									<li> We introduced the Unified Workspace, which allows Hans to quickly enable his
										company's new hires with fewer clicks, page loads, etc. </li>
									<li>As Hans is ready to check out, he receives an alert which informs of his need to
										increase storage capacity for his company</li>
									<li>With a simple slider, Hans is able to adjust his company's storage target and
										quickly see solutions that can help him meet those goals efficiently.</li>
									<li>
										Hans is then able to submit this requisition with the simple click of a button.
									</li>
									<li>
										Hans' IT Director, Terry, receives a notification on her phone and is able to
										log into her workspace and approve the requesition with the same ease it took
										Hans to submit it.
									</li>
								</ol>
							</p>
						</div>
					</div>

					<!-- <div>
							<h1 class="portfolio-h1">The Results</h1>
					</div> -->

				</div>




				<div class="col col-lg-2 third-col-project">
					<div>
						<h5>Role:</h5>
						<p>UX Developer</p>
					</div>
					<div>
						<h5>Built with:</h5>
						<img src="/img/tools/vue-icon.png" alt="" width="auto" height="60">
						<img class="tool-icons" src="/img/tools/greensock-icon.png" alt="" width="auto" height="60">
						<img class="tool-icons" src="/img/tools/html-icon.png" alt="" width="auto" height="60">
						<img class="tool-icons" src="/img/tools/css-icon.png" alt="" width="auto" height="60">
						<img class="tool-icons" src="/img/tools/Illustrator-icon.png" alt="" width="auto" height="60">
						<img class="tool-icons" src="/img/tools/Ae-icon.png" alt="" width="auto" height="60">
					</div>



				</div>
			</div>
		</div>
	</section>

	<% include partials/scripts %>


</body>

</html>