<!DOCTYPE html>
<html lang="en">
<% include partials/head %>
<body id="page-top">

  <!-- Navigation -->
  <% include partials/nav %>
    <header class="masthead text-left d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10">
            <h1 class="text-uppercase">
              <strong>Welcome to my world!</strong>
            </h1>
            <hr class='uline-header'>
          </div>
          <div class="col-lg-8">
            <p class="text-faded mb-5" id="role-description">I am a <span id="role-fn"></span></p>
            <a class="btn btn-light btn-xl js-scroll-trigger" href="/about">Find Out More</a>
          </div>
        </div>
      </div>
    </header>
    <% include partials/scripts %>

</body>

</html>
