<!DOCTYPE html>
<html lang="en">
<% include partials/head %>

<body id="page-top">

	<!-- Navigation -->
	<% include partials/nav %>

	<section class="bg-primary p-0" id="conceptcar">
		<div class="container">
			<div class="row" id="conceptcar-row">
				<div class="col col-lg-2">
					<h1 id="conceptcar-heading">Newbie</h1>
				</div>




				<div class="col col-lg-8" id="conceptcar-content">

					<div id="intro-paragraph">
						<p>This was a fun project I got to work on with three fellow Dell interns for our 24-hour intern
							hackathon
							in the summer of 2018. We partnered with the "team member experience" team at Dell to create
							a smoother
							onboarding process</p>
						<a class="btn btn-light btn-xl sr-button" href="https://newbie-dell.herokuapp.com/">View Live
							Prototype</a>
					</div>

					<div>
						<h1 class="portfolio-h1">The Goal</h1>
						<p>Create a more streamlined onboarding site for new Dell employees.</p>
					</div>


					<div>
						<h1 class="portfolio-h1">The Approach</h1>
						<p>We used Design Thinking to create a solution:</p>
						<ul>
							<li>
								We empathized with our users
							</li>
							<li>
								We brainstormed and wireframed some initial solutions
							</li>
							<li>
								We built prototypes for our stakeholders.
							</li>
						</ul>
					</div>


					<div>
						<h2>Empathy</h2>
						<p>To build empathy and create a product that better responds to our users’ needs, I spent the
							first couple of hours of the hackathon interviewing recent college hires. From those
							interviews, I found out three things:</p>
						<ul>
							<li>
								Our users would like to have a more sequential way of approaching onboarding tasks.
							</li>
							<li>
								Our users were often confused by the number of acronyms existing at Dell.
							</li>
							<li>
								Our users spent a significant amount of time installing software they need to do their
								work.
							</li>
					</div>

					<div>
						<h2>Brainstorm and Wireframe</h2>

						<p>After identifying priorities for our users, my team spent time brainstorming solutions and
							decided that:
						</p>
						<ul>
							<li>
								We would create a checklist with the most common onboarding tasks that new hires have to
								do.
							</li>
							<li>
								We would link our tool to an internal resource at Dell that catalogued most, if not all,
								common acronyms.
							</li>
							<li>
								We would simplify software installation by creating role-specific bundles - e.g. a
								bundle for product designers would include Adobe Creative Cloud, Miro, etc.
							</li>
							<p>We decided that these solutions would live in a single portal and proceeded with
								sketching out what our portal would like (see images below)
							</p>
							<img class="newbie-image" src="/img/portfolio/newbie/newbie_wireframe_1.jpg" alt="" width="100%" height="auto">
							<img class="newbie-image" src="/img/portfolio/newbie/newbie_wireframe_2.jpg" alt="" width="100%" height="auto">
							<img class="newbie-image" src="/img/portfolio/newbie/newbie_wireframe_3.jpg" alt="" width="100%" height="auto">
							<img class="newbie-image" src="/img/portfolio/newbie/newbie_wireframe_4.jpg" alt="" width="100%" height="auto">
					</div>

					<div>
						<h2>Prototype</h2>

						<p>After sketching out our portal, the real work began. I went ahead and started fleshing out our prototype using ExpressJS, Bootstrap, HTML5, CSS and JavaScript (see images below).
						</p>
						<img class="newbie-image" src="/img/portfolio/newbie/newbie.png" alt="" width="100%" height="auto">
						<img class="newbie-image" src="/img/portfolio/newbie/newbie_1.png" alt="" width="100%" height="auto">
						<img class="newbie-image" src="/img/portfolio/newbie/newbie_2.png" alt="" width="100%" height="auto">
						<img class="newbie-image" src="/img/portfolio/newbie/newbie_3.png" alt="" width="100%" height="auto">
						<img class="newbie-image" src="/img/portfolio/newbie/newbie_4.png" alt="" width="100%" height="auto">
						<img class="newbie-image" src="/img/portfolio/newbie/newbie_5.png" alt="" width="100%" height="auto">

					</div>

				</div>




				<div class="col col-lg-2">
					<div>
						<h5>Role:</h5>
						<p>UX Developer</p>
					</div>
					<div>
						<h5>Built with:</h5>
						<img class="tool-icons" src="/img/tools/css-icon.png" alt="" width="auto" height="60">
						<img class="tool-icons" src="/img/tools/html-icon.png" alt="" width="auto" height="60">
						<img class="newbie-image" src="/img/tools/express-icon.png" alt="" width="auto" height="60">
					</div>



				</div>
			</div>
		</div>
	</section>

	<% include partials/scripts %>


</body>

</html>