<!DOCTYPE html>
<html lang="en">
<% include partials/head %>

<body id="page-top">

	<!-- Navigation -->
	<% include partials/nav %>

	<section class="bg-primary p-0" id="conceptcar">
		<div class="container">
			<div class="row" id="conceptcar-row">
				<div class="col col-lg-2">
					<h1 id="conceptcar-heading">Newbie</h1>
				</div>




				<div class="col col-lg-8" id="conceptcar-content">

					<div id="intro-paragraph">
						<p>(Pardon our appearance! This page is currently in the works and shall be updated soon - Aury,
							11-4-19)</p>

						<p>This was a fun project I got to work on with three fellow Dell interns for our 24-hour intern
							hackathon
							in the summer of 2018. We partnered with the "team member experience" team at Dell to create
							a smoother
							onboarding process</p>
					</div>

					<div>
						<h1 class="portfolio-h1">The Goal</h1>
						<p>Create a more streamlined onboarding site for new Dell employees.</p>
					</div>


					<div>
						<h1 class="portfolio-h1">The Approach</h1>
						<p>We used Design Thinking to create a solution:</p>
						<ul>
							<li>
								We empathized with our users
							</li>
							<li>
								We brainstormed and wireframed some initial solutions
							</li>
							<li>
								We built prototypes for our stakeholders.
							</li>
						</ul>
					</div>


					<div>
						<h2>Empathy</h2>
						<p></p>
					</div>

					<div>
						<h2>Brainstorm and Wireframe</h2>
						<p></p>
					</div>

					<div>
						<h2>Prototype</h2>
						<a class="btn btn-light btn-xl sr-button" href="https://newbie-dell.herokuapp.com/">View Live
							Prototype</a>
						<p></p>
						<img src="/img/portfolio/newbie/newbie-dell.png" alt="" width="100%" height="auto">
						<img src="/img/portfolio/newbie/newbie_1.png" alt="" width="100%" height="auto">
						<img src="/img/portfolio/newbie/newbie_2.png" alt="" width="100%" height="auto">
						<img src="/img/portfolio/newbie/newbie_3.png" alt="" width="100%" height="auto">
						<img src="/img/portfolio/newbie/newbie_4.png" alt="" width="100%" height="auto">
						<img src="/img/portfolio/newbie/newbie_5.png" alt="" width="100%" height="auto">

					</div>

				</div>




				<div class="col col-lg-2">
					<div>
						<h5>Role:</h5>
						<p>UX Developer</p>
					</div>
					<div>
						<h5>Built with:</h5>
						<img class="tool-icons" src="/img/tools/css-icon.png" alt="" width="auto" height="60">
						<img class="tool-icons" src="/img/tools/html-icon.png" alt="" width="auto" height="60">
						<img src="/img/tools/express-icon.png" alt="" width="auto" height="60">
					</div>



				</div>
			</div>
		</div>
	</section>

	<% include partials/scripts %>


</body>

</html>