<!DOCTYPE html>
<html lang="en">
<% include partials/head %>

<body id="page-top">

	<!-- Navigation -->
	<% include partials/nav %>

	<section class="bg-primary p-0" id="portfolio">
		<div class="container">
			<div class="row row-portfolio">
				<div class="col-sm-6">
				<a href="/conceptcar" style="text-decoration: none; color: black;">
					<div class="card p-3 mb-5">
						<img class="card-img-top" 
							src="/img/portfolio/conceptcar/concept-car.PNG"
							data-holder-rendered="true" style="height: auto; max-width: 100%;">
						<div class="card-body" id="conceptcar-card">
							<h3 class="card-title">Concept Car</h3>
							<p class="card-text">Reinventing the future of Dell.com and Dell Premier
							</p>
						</div>
					</div>
				</a>	
					
				</div>
				<div class="col-sm-6">
						<a href="/newbie" style="text-decoration: none; color: black;">
							<div class="card p-3 mb-5">
								<img class="card-img-top" 
									src="/img/portfolio/newbie/newbie-dell.PNG"
									data-holder-rendered="true" style="height: auto; max-width: 100%;">
								<div class="card-body" id="conceptcar-card">
									<h3 class="card-title">Newbie</h3>
									<p class="card-text">Onboarding, made easier
									</p>
								</div>
							</div>
						</a>	
				</div>
			</div>
		</div>
	</section>

	<section class="bg-secondary text-white" id="resume">
		<div class="container text-center">
			<i class="fa fa-4x fa-file mb-3 sr-icons"></i>
			<h2 id="resume-text" class="mb-4">Click below to get a copy of Aury's resume!</h2>
			<a class="btn btn-light btn-xl sr-button"
				href="https://drive.google.com/file/d/1Nu_tB0D7fZukWNLP5naFhtMBBVk8H7yc/view?usp=sharing">Resume</a>
		</div>
	</section>



	<!-- <% include partials/footer %> -->
	<% include partials/scripts %>


</body>

</html>