#mainNav, a {
  -webkit-transition: all .2s;
  -moz-transition: all .2s
}

a, a:hover {
  color: #f0cea0
}

body, html {
  width: 100%;
  height: 100%
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #f0cea0;
  /* float: left; */
  margin-left: 0;
  margin-right: 0;
}

hr.light {
  border-color: #fff
}

a {
  transition: all .2s
}

.bg-primary {
  background-color: #f0cea0 !important
}

.bg-dark {
  background-color: #212529 !important
}

.text-faded {
  color: rgba(34, 24, 28, 1)
}

section {
  padding: 8rem 0
}

.section-heading {
  margin-top: 0
}

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none
}

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none
}

img::selection {
  color: #fff;
  background: 0 0
}

img::-moz-selection {
  color: #fff;
  background: 0 0
}

#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, .1);
  background-color: #fff;
  transition: all .2s
}

#mainNav .navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  color: #f0cea0
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #f0cea0
}

#mainNav .navbar-nav>li.nav-item>a.nav-link, #mainNav .navbar-nav>li.nav-item>a.nav-link:focus {
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #212529
}

#mainNav .navbar-nav>li.nav-item>a.nav-link:focus:hover, #mainNav .navbar-nav>li.nav-item>a.nav-link:hover {
  color: #f0cea0
}

#mainNav .navbar-nav>li.nav-item>a.nav-link.active, #mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active {
  color: #f0cea0 !important;
  background-color: transparent
}

#mainNav .navbar-nav>li.nav-item>a.nav-link.active:hover, #mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active:hover {
  background-color: transparent
}

#about-img {
  padding-top: 15px
}

@media (min-width:992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent
  }
  #mainNav .navbar-brand {
    color: rgba(34, 24, 28, 1)
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #fff
  }
  #mainNav .navbar-nav>li.nav-item>a.nav-link {
    padding: .5rem 1rem
  }
  #mainNav .navbar-nav>li.nav-item>a.nav-link, #mainNav .navbar-nav>li.nav-item>a.nav-link:focus {
    color: rgba(34, 24, 28, 1)
  }
  #mainNav .navbar-nav>li.nav-item>a.nav-link:focus:hover, #mainNav .navbar-nav>li.nav-item>a.nav-link:hover {
    color: #fff
  }
  #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(33, 37, 41, .1);
    background-color: #fff
  }
  #mainNav.navbar-shrink .navbar-brand, #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
    color: #f0cea0
  }
  #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link, #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus {
    color: #212529
  }
  #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus:hover, #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:hover {
    color: #f0cea0
  }
}

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url(../img/header.jpg);
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover
}

header.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px
}

header.masthead h1 {
  font-size: 2rem
}

header.masthead p {
  font-weight: 300
}

@media (min-width:768px) {
  .col-lg-8 {
    -ms-flex: 0 0 66.666666%;
    flex: 0 0 66.666666%;
    max-width: 66.66666%
  }
  .col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%
  }
  header.masthead p {
    font-size: 1.15rem
  }
}

@media (min-width:992px) {
  header.masthead {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0
  }
  header.masthead h1 {
    font-size: 3rem
  }
}

@media (min-width:1200px) {
  header.masthead h1 {
    font-size: 4rem
  }
}

.service-box {
  max-width: 400px
}

.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto
}

.portfolio-box .portfolio-box-caption {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: rgba(240, 95, 64, .9);
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  text-align: center
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category, .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  padding: 0 15px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px
}

.portfolio-box:hover .portfolio-box-caption {
  opacity: 1
}

.portfolio-box:focus {
  outline: 0
}

@media (min-width:768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px
  }
}

.text-primary {
  color: #f0cea0 !important
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px
}

.btn-xl {
  padding: 1rem 2rem
}

.btn-primary {
  background-color: #f0cea0;
  border-color: #f0cea0
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  color: #fff;
  background-color: #534d41 !important
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 .2rem rgba(240, 95, 64, .5) !important
}

.demo {
  padding: 100px 0;
}

.heading-title {
  margin-bottom: 100px;
}

.main-timeline {
  position: relative;
  transition: all 0.4s ease 0s;
}

.main-timeline:before {
  content: "";
  width: 3px;
  height: 100%;
  background: #bfbfbf;
  position: absolute;
  top: 0;
  left: 50%;
}

.main-timeline .timeline {
  position: relative;
}

.main-timeline .timeline:before, .main-timeline .timeline:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

.main-timeline .timeline-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #f0cea0;
  position: absolute;
  top: 0;
  left: 3px;
  right: 0;
  margin: 0 auto;
  overflow: hidden;
}

.main-timeline .timeline-content {
  width: 45%;
  padding: 20px;
  border-radius: 5px;
  text-align: right;
  -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}

.main-timeline .date {
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  padding: 12px 33px;
  background: #f0cea0;
  border-radius: 30px;
}

.main-timeline .title {
  font-size: 24px;
  font-weight: 500;
  color: #5c5151;
  margin-top: 30px;
}

.main-timeline .description {
  font-size: 14px;
  color: #606060;
  line-height: 2;
}

.main-timeline .timeline-content.right {
  float: right;
  text-align: left;
}

@media only screen and (max-width: 767px) {
  .main-timeline:before {
    left: 0;
  }
  .main-timeline .timeline-icon {
    left: -8px;
    margin: 0;
  }
  .main-timeline .timeline-content {
    width: 90%;
    float: right;
  }
}

@charset "utf-8";
/* CSS Document */
