<p class="text-faded mb-2">
  Originally from the geographically central but culturally eastern African nation of Burundi, Aury has been calling Chicago home since early 2015, when he began his college journey at <a href="https://web.iit.edu/">Illinois Institute of Technology</a>.
</p>

<p class="text-faded mb-2">
  He has been pursuing a degree in <a href="https://appliedtech.iit.edu/information-technology-and-management/student-profiles/aury-ken-bwashi">Information Technology and Management (ITM)</a> program and - after finding a passion for Web Application Development,
  Human-Computer Interaction (HCI) - has been specializing in Web Design and Application Development.
</p>

<p class="text-faded mb-2">
  He’s since then interned at <a href="https://www.delltechnologies.com/en-us/index.htm">Dell Technologies</a> twice; once as a full-stack web developer and the other one as a user researcher.
</p>

<p class="text-faded mb-1">
  Outside of the design and development world, he’s involved with the <a href="http://www.letsgetinclusiveuic.org/meetus/">Inclusive Collective</a>, a radically inclusive community that seeks to explore life, share, and flourish in Christ’s grace.
</p>

<p class="text-faded mb-2">
  Aury’s long-term goal is to hopefully align his talent in Design and Development with his calling in social justice movements across different areas, with a focus on immigration, education, queer and racial justice issues.
</p>


<p class="text-faded">
  Click on <a class="js-scroll-trigger" href="#resume">'Resume'</a> to get a copy of my resume!
</p>
